* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 220px;
    /* Platz für die fixierte Navigation */
    font-family: 'Mulish', sans-serif;
    /* Webfont gem. Kapitel 1.5*/
    background-image: url("/img/banner_background.png");
    background-color: #cccccc;
    background-position: center top;
    background-repeat: repeat-y;
    /* Vertikal wiederholen */
    background-size: 100% auto;
    /* Breite 100%, Höhe automatisch */
    min-width: 500px;
}

header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/*Navigation bzw. Menu*/
ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*background-color: #333333;*/
    background-image: url("/img/banner.png");
    background-color: #cccccc;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    /* Damit Navigation fixiert ist! */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    min-width: 800px;

}

/* Style links in topnav */
ul.topnav li a {
    display: block;
    color: rgb(27, 114, 70);
    padding: 14px 16px;
    text-decoration: none;
    top: 50%;
    font-weight: bold;
    font-size: 25px;

}

ul.topnav li a:hover {
    background-color: rgba(205, 196, 234, 0.3);
    color: black;
}

section {
    padding: 0.9em 1em;
    width: 97%;
    margin: 20px auto;
}

h3 {
    font-style: italic;
}

h1,
h2,
h3 {
    text-shadow:
        0 2px 1px rgba(0, 0, 0, 0.15),
        0 4px 2px rgba(0, 0, 0, 0.10),
        0 8px 6px rgba(0, 0, 0, 0.05);
}

/* News-Seite*/
.news-vorschau:hover p {
    font-style: italic;
}

.news-vorschau:hover h2 {
    color: rgb(27, 117, 70);
}

.button-news {
    color: rgb(255, 125, 70);
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 15px;
    background-image: linear-gradient(90deg, #cdffd8, #94b9ff);
    background-size: cover;
    border-style: hidden;
}

.button-news:hover {
    background-image: linear-gradient(90deg, #94b9ff, #cdffd8);
    font-style: italic;
}

section a,
section a:link,
section a:visited,
section a:hover,
section a:active {
    /*font-style: italic;*/
    font-size: small;
    color: rgb(255, 125, 70);
    text-decoration: none;
    display: inline-block;
    /* wichtig für margin-top */
    margin-top: 6px;
    /* Abstand nach oben */
}

.homework img {
    max-width: 600px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 20px auto;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.homework img:hover {
    border: 2px solid rgb(27, 117, 70);
}

/* Bilder à la Polaroid*/
.polaroid-wrapper {
    display: flex;
    /* Flexbox-Layout*/
    gap: 20px;
    justify-content: center;
    /* Zentriert Bilder in der Mitte des Containers */
    flex-wrap: wrap;
    /* Damit Bilder untereinander, wenn Browser-Fenster verkleinert wird (resposive)*/
}

.polaroid {
    width: 330px;
    height: 520px;
    /* Grösser der Bilder bzw. Polaroid, damit alle gleich gross sind */
    background-color: white;
    /* Hintergrund des Polaroid */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    /* Damit Text unterhalb des Bildes erscheint*/
    overflow: hidden;
}

.polaroid:hover {
    border: 2px solid rgb(27, 117, 70);
}

.polaroid img {
    width: 100%;
    height: 87%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.polaroid .container {
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

/* Lebenslauf*/
.CV {
    display: grid;
    grid-template-columns: 200px 200px 175px;
    gap: 1px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1px 2px;
    margin-bottom: 30px;
    width: 600px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.CV div {
    padding: 10px 10px;
    border-bottom: 1px solid #f0f0f0;
    margin-left: 7px;
    margin-right: 7px;
}

.CV .cv-header {
    font-weight: bold;
    color: rgb(27, 114, 70);
    border-bottom: 2px solid rgb(27, 114, 70);
    padding: 14px 10px;
    margin: 0 7px;
}

/* Feedback*/
form,
h5 {
    margin-bottom: 10px;
}

.FB-Contactinfos {
    display: grid;
    grid-template-columns: 1fr 140px 20px 1fr 140px 20px 1fr 260px 20px;
    gap: 1px 1px;
    /*background-color: rgba(255, 255, 255, 0.7);*/
    padding: 10px 1px;
    margin-bottom: 30px;
    width: 820px;
    /*box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.2);*/
}

.FB-Text {
    display: grid;
    grid-template-columns: 800px;
    gap: 1px 1px;
    padding: 10px 1px;
    margin-bottom: 30px;
    width: 800px;
}

.FB-Text textarea,
.FB-Contactinfos input {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgb(27, 114, 70);
    border-radius: 7px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.2);
    resize: none;
    /* Damit Text-Feld nicht manuell angepasst werden kann*/
}

.FB-Text textarea:hover,
.FB-Contactinfos input:hover {
    border: 1px solid rgb(255, 125, 70);
}

.FB-Antwort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 30px;
    width: 400px;
}

.FB-Antwort label:first-child {
    margin-left: 20px;
}

.FB-Antwort label:last-of-type {
    margin-left: -100px;
}

.FB-Antwort input[type="submit"],
.FB-Antwort input[type="reset"] {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(27, 114, 70);
}

.FB-Antwort input:hover {
    border: 2px solid rgb(255, 125, 70);
}

.impress {
    width: 250px;
    padding: 15px 15px 15px 0;
    border-radius: 25px;
    background-image: linear-gradient(90deg, #cdffd8, #94b9ff);
    /* Farbverlauf Aufgabe 1.6*/
    background-size: cover;
}

blockquote {
    font-style: italic;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    /* Default CSS Settings gem. w3schools*/
}

#quote {
    font-size: x-large;
    color: #304365;
}

cite {
    font-size: small;
}

/* alt
.cv-wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: smaller;
}

.cv-wrapper .list {
    flex: 1 1 48%;
    min-width: 280px;
}

.cv-wrapper .list h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
td {
    border: none;
    padding: 4px;
    text-align: left;
    min-width: 50px;
}

th {
    border: none;
    padding: 4px;
    padding-top: 10px;
    text-align: left;
    min-width: 50px;
}

.cv-wrapper table th:first-child,
.cv-wrapper table td:first-child {
    width: 35%;
}

.cv-wrapper table th:nth-child(2),
.cv-wrapper table td:nth-child(2) {
    width: 35%;
}

.cv-wrapper table th,
.cv-wrapper table td {
    white-space: nowrap;
}

.cv-wrapper table th:nth-child(4),
.cv-wrapper table td:nth-child(4) {
    text-align: center;
}
*/