/* Import restliche css-Dateien
IMMER an oberster Stelle!! */
@import url(cv.css);
@import url(feedback.css);
@import url(impressum.css);
@import url(menu.css);
@import url(polaroid-wrapper.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 220px;
    /* Platz für die fixierte Navigation */
    font-family: 'Mulish', sans-serif;
    /* Webfont gem. Kapitel 1.5*/
    background-image: url("/img/banner_background.png");
    background-color: #cccccc;
    background-position: center top;
    background-repeat: repeat-y;
    /* Vertikal wiederholen */
    background-size: 100% auto;
    /* Breite 100%, Höhe automatisch */
    min-width: 500px;
}

/* Inhaltsbereich / Seiteninhalt */
section {
    padding: 0.9em 1em;
    width: 1100px
        /*97%*/
    ;
    margin:
        /*20px*/
        auto;
}

h3 {
    font-style: italic;
}

h1,
h2,
h3 {
    text-shadow:
        0 2px 1px rgba(0, 0, 0, 0.15),
        0 4px 2px rgba(0, 0, 0, 0.10),
        0 8px 6px rgba(0, 0, 0, 0.05);
}

/* News-Seite*/

.news-vorschau {
    width: 20em;
    min-height: 15em;
    margin: 10px;
    /* überschreibt margin: auto von section */
    border: 2px solid rgb(27, 117, 70, 50%);
    border-radius: 15px;
    float: left;
}

.news-vorschau:hover {
    border: 2px solid rgb(27, 117, 70);
}

.news-vorschau h2 {
    padding-bottom: 5px;
    margin: 10px 0 10px;
}

.news-vorschau p {
    padding-bottom: 10px;
    margin: 10px 0 10px;
}

.news-vorschau:hover p {
    font-style: italic;
}

.news-vorschau:hover h2 {
    color: rgb(27, 117, 70);
}

.button-news {
    color: rgb(205, 87, 50);
    padding: 10px 40px;
    text-align: center;
    display: inline-block;
    margin: 30px 0 5px;
    border-radius: 15px;
    background-image: linear-gradient(90deg, #cdffd8, #94b9ff);
    background-size: cover;
    border-style: hidden;
}

.button-news:hover {
    background-image: linear-gradient(90deg, #94b9ff, #cdffd8);
    font-style: italic;
    font-weight: bold;
    cursor: url("/img/cursor_V1.png"), auto;
}

section a,
section a:link,
section a:visited,
section a:hover,
section a:active {
    /*font-style: italic;*/
    font-size: small;
    color: rgb(255, 125, 70);
    text-decoration: none;
    display: inline-block;
    /* wichtig für margin-top */
    margin-top: 6px;
    /* Abstand nach oben */
}

.homework img {
    max-width: 600px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 20px auto;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.homework img:hover {
    border: 2px solid rgb(27, 117, 70);
}

blockquote {
    font-style: italic;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    /* Default CSS Settings gem. w3schools*/
}

#quote {
    font-size: x-large;
    color: #304365;
}

cite {
    font-size: small;
}

/* Focus gem. Aufgabe Testat 1.6*/
a:focus,
button:focus,
input:focus {
    outline: 2px solid rgb(255, 125, 70);
    filter: invert(1);
    /* 1 = Damit Hintergrundfarbe umgekehrt angezeigt wird.
    0.5 = grau (50% invertiert)
    0 = keine Änderung*/
}

/* Skip-Link gem. Aufgabe 1.6 
.skip-link {
    position: absolute;
    top: -40px;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    color: rgb(255, 125, 70);
    font-size: small;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 15px;
    background-image: linear-gradient(90deg, #cdffd8, #94b9ff);
    z-index: 101;
    transition: top 0.3s;
}

.skip-link:focus {
    top: 0;
}

/* 
====================================
==alte Codes von älteren Aufgaben ==
====================================

/*header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
.cv-wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: smaller;
}

.cv-wrapper .list {
    flex: 1 1 48%;
    min-width: 280px;
}

.cv-wrapper .list h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
td {
    border: none;
    padding: 4px;
    text-align: left;
    min-width: 50px;
}

th {
    border: none;
    padding: 4px;
    padding-top: 10px;
    text-align: left;
    min-width: 50px;
}

.cv-wrapper table th:first-child,
.cv-wrapper table td:first-child {
    width: 35%;
}

.cv-wrapper table th:nth-child(2),
.cv-wrapper table td:nth-child(2) {
    width: 35%;
}

.cv-wrapper table th,
.cv-wrapper table td {
    white-space: nowrap;
}

.cv-wrapper table th:nth-child(4),
.cv-wrapper table td:nth-child(4) {
    text-align: center;
}
*/