/* Bilder à la Polaroid*/
.polaroid-wrapper {
    display: flex;
    /* Flexbox-Layout*/
    gap: 20px;
    justify-content: center;
    /* Zentriert Bilder in der Mitte des Containers */
    flex-wrap: wrap;
    /* Damit Bilder untereinander, wenn Browser-Fenster verkleinert wird (resposive)*/
    margin: 40px 15px 0;
}

.polaroid {
    width: 330px;
    height: 520px;
    /* Grösser der Bilder bzw. Polaroid, damit alle gleich gross sind */
    background-color: white;
    /* Hintergrund des Polaroid */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    /* Damit Text unterhalb des Bildes erscheint*/
    overflow: hidden;
}

.polaroid:hover {
    border: 2px solid rgb(27, 117, 70);
}

.polaroid img {
    width: 100%;
    height: 87%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.polaroid .container {
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}